![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

### Steps:

1. Loading the data [X]

2. Merging the three DataFrames [x]

3. Determining the earliest and most recent review dates [x]

4. Finding how many listings are private rooms [x]

5. Finding the average price of listings [x]

6. Creating a DataFrame with the four solution values [x]

In [177]:
#imports
import pandas as pd
import numpy as np

In [178]:
#Lendo arquivos
price_ds = pd.read_csv('airbnb_price.csv')
last_review_ds = pd.read_csv('airbnb_last_review.tsv', sep='\t')
room_type_ds = pd.read_excel('airbnb_room_type.xlsx')

In [179]:
#visualização dos dados
display(price_ds.head(2))
display(last_review_ds.head(2))
display(room_type_ds.head(2))

   listing_id        price             nbhood_full
0        2595  225 dollars      Manhattan, Midtown
1        3831   89 dollars  Brooklyn, Clinton Hill

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019

   listing_id                      description        room_type
0        2595            Skylit Midtown Castle  Entire home/apt
1        3831  Cozy Entire Floor of Brownstone  Entire home/apt

In [211]:
#merge de dados
merged_ds = pd.merge(price_ds,last_review_ds, on=None)
merged_ds = pd.merge(merged_ds,room_type_ds, on=None)
merged_ds['last_review'] = merged_ds['last_review'] = pd.to_datetime(merged_ds['last_review'], format='%B %d %Y')
merged_ds.sort_values(by='last_review', inplace=True)
display(merged_ds.head())

,listing_id,price,nbhood_full,host_name,last_review,description,room_type
12007,21751907,40 dollars,"Brooklyn, Sunset Park",Aura Angelica,2019-01-01,"Room in Brooklyn, 5 min to N and R train",PRIVATE ROOM
10430,19708955,700 dollars,"Manhattan, Tribeca",Karen,2019-01-01,Good Vibes Tribeca Loft,Entire home/apt
14845,25931882,65 dollars,"Brooklyn, Clinton Hill",Can,2019-01-01,Large sunny room in Modern Brooklyn Townhouse,Private room
7203,13936825,75 dollars,"Queens, Forest Hills",Shlomit,2019-01-01,Spacious master bedroom in Forest Hills,Private room
17123,28813184,125 dollars,"Manhattan, East Village",Carolyn,2019-01-01,Tranquil East Village 1 Bedroom,Entire home/apt

In [212]:
most_recently = merged_ds['last_review'].max()
earliest_review = merged_ds['last_review'].min()

print('most_recently =',most_recently)
print('earliest_review =',earliest_review)

most_recently = 2019-07-09 00:00:00
earliest_review = 2019-01-01 00:00:00

In [213]:
merged_ds['room_type'] = merged_ds['room_type'].str.lower()
room_type_quantity = merged_ds['room_type'].value_counts().get('private room')
print('room_type_quantity =',room_type_quantity)

room_type_quantity = 11356

In [214]:
merged_ds['price'] =  merged_ds['price'].str.replace('dollars', '').astype(float)
mean_price =  merged_ds['price'].mean()
print('mean_price =',mean_price)

mean_price = 141.7779364512674

In [216]:
review_dates =  pd.DataFrame(np.array([[earliest_review, most_recently, room_type_quantity,mean_price]]),columns=['first_reviewed','last_reviewed','nb_private_rooms','avg_price'])
review_dates['avg_price'] = review_dates['avg_price'].astype(float).round(2)
display(review_dates)

  first_reviewed last_reviewed nb_private_rooms  avg_price
0     2019-01-01    2019-07-09            11356     141.78